doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/css/home_style.css")
        title {tupleSpaceName}
    body
        div(id="content")
        script(src="js/tupleSpace.js")